<div class="clr-row clr-justify-content-center clr-align-items-center">
  <!-- <div class="card-header">Login by ProviderID</div> -->
  <div class="card-block">
    <div class="card-text">
      <div class="clr-row">
        <div class="clr-col">
          <div class="card justify-content-center align-items-center d-flex">
            <div class="static form-container">
              <a [href]="mophUrl">
                เข้าสู่ระบบด้วย
                <img
                  src="assets/images/providerid_logo.png"
                  [width]="100"
                  [height]="30"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
