<div class="clr-row clr-justify-content-center clr-align-items-center">
  <!-- <div class="card-header">Login by ProviderID</div> -->
  <div class="card-block">
    <div class="card-text">
      <div class="clr-row">
        <div class="clr-col">
          <div class="justify-content-center align-items-center">
            <div class="form-container">
              <div>
                <img
                  src="assets/images/providerid_logo.png"
                  [width]="350"
                  [height]="150"
                />
              </div>
              <div>
                <a class="btn btn-block btn-success-outline" [href]="mophUrl">
                  <cds-icon shape="login" badge="info"></cds-icon>
                  ลงชื่อเข้าใช้
                </a>
              </div>
              <div>
                <span class="label label-success"
                  >If not know ProviderID please contact Computer Center or
                  Tel.511
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
