<div class="clr-row">
  <div class="clr-col-12">
    <h1>Smart Office Banmi Hospital</h1>
  </div>
</div>
<div class="clr-row">
  <div class="clr-col-lg-3 clr-col-md-8 clr-col-12">
    <div class="card">
      <div class="card-header">ระบบพิมพ์ใบสลิปเงินเดือน</div>
      <div class="card-block">
        <div class="card-text">
          <button
            type="button"
            class="btn btn-block btn-info-outline"
            aria-label="printer"
          >
            <cds-icon
              shape="printer"
              badge="success"
              status="info"
              size="md"
            ></cds-icon>
            Show slip's
          </button>
          Print slip system
          {{ apiUrl }}
        </div>
      </div>
    </div>
  </div>
  <div class="clr-col-lg-3 clr-col-md-8 clr-col-12">
    <div class="card">
      <div class="card-header">ระบบงานศูนย์คอมพิวเตอร์</div>
      <div class="card-block">
        <div class="card-text">
          <button
            type="button"
            class="btn btn-block btn-success-outline"
            aria-label="printer"
          >
            OPEN
            <cds-icon shape="pop-out" size="md"></cds-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="clr-col-lg-3 clr-col-md-8 clr-col-12">
    <div class="main-box">
      <div class="card">
        <div class="card-header">Print Slip</div>
        <div class="card-block">
          <div class="card-title">Block</div>
          <div class="card-text">
            Card content can contain text, links, images, data visualizations,
            lists and more.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clr-col-lg-3 clr-col-md-8 clr-col-12">
    <div class="main-box">
      <div class="card">
        <div class="card-header">Print Slip</div>
        <div class="card-block">
          <div class="card-title">Block</div>
          <div class="card-text">
            Card content can contain text, links, images, data visualizations,
            lists and more.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
